# Ignorar archivos y directorios generados por Django
*.pyc
__pycache__/
db.sqlite3

# Ignorar archivos de configuración local
settings_local.py

# Node modules
node_modules/

# Ignorar archivos y directorios generados por el entorno virtual
static/CACHE

# Ignorar archivos y directorios generados por el entorno virtual
venv/
.env

# Ignorar archivos de registro
*.log

# Ignorar archivos de respaldo
*~

# Ignorar archivos de caché
*.cache

# Ignorar archivos de compilación
.vscode/
.idea/